<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  class="nav-link">
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/users" routerLinkActive="active"   class="nav-link">
                    Usuarios
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/roles" routerLinkActive="active"   class="nav-link">
                    Roles
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/products" routerLinkActive="active"   class="nav-link">
                    Productos
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/orders" routerLinkActive="active"  class="nav-link">
                    Órdenes
                </a>
            </li>
        </ul>
    </div>
</nav>